In [1]:
import pandas as pd


df = pd.read_excel("cohort.xlsx")  
print("Number of records:", len(df))

# Summary stats of numeric features
features = ['bmi', 'hc', 'wc', 'bf', 'ffm','risk10_ascvd']
summary = df[features].agg(['min', 'median', 'max']).T
summary.columns = ['Min', 'Median', 'Max']
summary

Number of records: 1106

                    Min      Median         Max
bmi           17.284000   26.405000   49.987000
hc            80.000000  102.000000  139.000000
wc            68.000000   94.000000  134.000000
bf            22.137240   38.071553   56.855239
ffm           29.124302   45.241574   64.091980
risk10_ascvd   0.034842    1.333939   48.700610

In [2]:
import pandas as pd


df = pd.read_excel("stratifiedcohort.xlsx")  
print("Number of records:", len(df))

# Summary stats of numeric features
features = ['bmi', 'hc', 'wc', 'bf', 'ffm','risk10_ascvd']
summary = df[features].agg(['min', 'median', 'max']).T
summary.columns = ['Min', 'Median', 'Max']
summary

Number of records: 444

                    Min      Median         Max
bmi           17.284000   26.106500   41.788000
hc            83.000000  101.000000  125.000000
wc            71.000000   95.500000  125.500000
bf            23.195604   38.228120   53.516106
ffm           33.086928   48.012500   63.806256
risk10_ascvd   0.253721    3.839689   38.422621